body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  background: linear-gradient(to right, #66a6ff, #867eff);
  display: fixed;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.container1 {
  max-width: 400px;
  margin: 60px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header {
  padding: 20px 0;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header.container {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header.nav li {
  margin-right: 20px;
}

.header.nav li a {
  color: #333;
  text-decoration: none;
}

.hero {
  background-color: #f8f8f8;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
}

.cta-buttons button {
  background-color: #4CAF50;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
}

.cta-buttons button:hover {
  opacity: 0.8;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button1 {
  background-color: linear-gradient(to right, #33ccff, #6666ff);
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
