
body {
    font-family: Arial, sans-serif;
}
#attendance-table-container {
    width: 800px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#attendance-table {
    width: 100%;
}
th, td {
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f0f0f0;
}
header {
    padding: 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logout-button {
    margin-right: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.login-button {
    margin-right: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.float-right {
    float: right;
}

.float-right button {
    margin-left: 10px;
}
